<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="icon" href="/images/globe.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class = "main-content">
   {{>header}}
   <h1>{{title}}</h1>
   <p>{{contents}}</p>
   <a href="https://restcountries.eu/rest/v2/all" target="_blank">Country API</a>
   <a href="http://api.openweathermap.org" target="_blank">Weather API</a>
  </div>
  {{>footer}}
</body>
</html>